<div class="mainContainer" ng-init="vm.loadGames()">
    <div class="container">
        <h1>Hello, {{vm.name}}</h1>

        <button ng-click="vm.toAdd()">Add</button>
        <div class="container">
            <div class="row" ng-repeat="game in vm.games">
                <div class="col">
                    <a href="/#!/game/{{game._id}}">{{game.title}}</a>
                </div>
                <div class="col">
                    <button ng-click="vm.delete(game._id)">delete</button>
                    <button ng-click="vm.toUpdate(game._id)">update</button>
                </div>
            </div>
        </div>
    </div>
</div>